<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% const name = 'korede'  %>
    <h1>Hello dev's to <%= name %></h1>
    <h3>Welcome home</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dicta eius eos ullam commodi sequi quidem, dolorem, saepe illum voluptas vel dignissimos odit corporis omnis soluta aspernatur, deleniti recusandae sapiente.</p>
    <div>
        <a href="http://localhost:3005">Home</a>
        <a href="http://localhost:3005/login">Login</a>
    </div>
</body>
</html>